/* VARIABLES */
$body-color: rgb(33 37 41 / 100%);
$wrap-heigth: 720px;
$gray-darker: rgb(33 37 41 / 100%);
$gray-dark: rgb(33 37 41 / 50%);
$gray-medium: rgb(33 37 41 / 25%);
$gray-light: rgb(33 37 41 / 12%);
$gray-lighter: rgb(33 37 41 / 6%);
$red: #c0023b;
$red-black: #730123;
